 

<div class="container" data-aos="fade-up">
    <div class="card">
     	<div class="categories-title center-align">
                <i class="fas fa-bookmark"></i>&nbsp;&nbsp;文章分类思维导图
        </div>
        <div id="category-map" class="card-content">
		<%- page.content %>
		
		</div>
    </div>
</div>
 